---
  development:
    AWS_ACCESS_KEY_ID: 'ThisIsAToken2017-0TH3R'
    AWS_SECRET_ACCESS_KEY: 'ThisIsAToken2017-0TH3R'
    AWS_REGION: 'ThisIsAToken2017-0TH3R'
    SENDGRID_KEY: 'ThisIsAToken2017-0TH3R'
